<div id="page-content">
  <div class="container" id="home-container">
    <div class="bg-dark text-light p-5 text-center" id="home">
      <h1 class="display-4", id="home_logo">Alpha Blog</h1>
      <hr class="my-4">
      <p class="lead">Welcome to blog servise where users can share their thoughts with others in convenient way!</p>
      <p>Principle: be kind!</p>
      <a class="btn btn-outline-light btn-lg" href="#" role="button">Sign Up!</a>
    </div>
  </div>
</div>

