  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
      <div class="container text-center">
        <small>GitHub &copy; <%= link_to "Acay", "https://github.com/iAcay/alpha-blog", class: "text-white" %></small>
      </div>
    </footer>